.payment-method-additional-data .customer-dob label {
    width: 100%;
}

.payment-method-additional-data .customer-dob select {
    display: inline-block;
    width: 90px;
}

.payment-method-additional-data .customer-dob select.dob-year {
    width: 105px;
}

.payment-method-additional-data .terms-and-conditions .label {
    display: inline;
}

h1.afterpay-test-mode {
    text-align: center;
    background-color: #E02B27;
    color: #FFFFFF;
}

.payment-method label img.payment-icon.smaller-icon {
    width: 48px;
}

.payment-method-additional-data .flex .preview,
.payment-method-additional-data .installment .preview {
    margin-top: 1rem;
}

.payment-method-additional-data .installment .disclaimer,
.payment-method-additional-data .installment .summary,
.payment-method-additional-data .flex .disclaimer {
    margin-bottom: 1rem;
}

.payment-method-additional-data input[name="payment[ssn]"]::placeholder {
    color: #adadad;
}

.payment-method-additional-data input[name="payment[ssn]"]::-webkit-input-placeholder {
    color: #adadad;
}

.payment-method-additional-data input[name="payment[ssn]"]:-ms-input-placeholder {
    color: #adadad;
}

input[name="payment[bankaccountnumber]"]::placeholder {
    color: #d0d0d0;
}

input[name="payment[bankaccountnumber]"]::-webkit-input-placeholder {
    color: #d0d0d0;
}

input[name="payment[bankaccountnumber]"]:-ms-input-placeholder {
    color: #d0d0d0;
}

.opc-wrapper .payment-method-title .afterpay-description {
    padding-left: 80px;
    font-size: small;
    color: #666;
}

label[for*="afterpay"] span {
    font-weight: normal;
}

.payment-method-additional-data .installment-option {
    border: 1px solid #afafaf;
    background-color: rgba(46, 108, 104, 0.15);
}

.payment-method-additional-data .installment-option:last-child {
    border-bottom: 1px solid #afafaf;
}

.payment-method-additional-data .installment-option._active {
    border: 1px solid #2E6C68;
}

.payment-method-additional-data .installment-option label {
    width: 90%;
    height: 100%;
    display: inline-block;
    padding: 8px;
}

.payment-method-additional-data .installment-option b {
    font-weight: 600;
}

.payment-method-additional-data .installment-option input[type="radio"] {
    margin: 0 0 0 10px;
}

.payment-method-additional-data .installment-info {
    margin-top: 10px;
}

.fieldset>.field.required>.label:after {
    margin-left: 0;
}
