<!--
/**
 * Copyright (c) 2021  arvato Finance B.V.
 *
 * AfterPay reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of AfterPay.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    AfterPay
 * @package     Afterpay_Payment
 * @copyright   Copyright (c) 2021 arvato Finance B.V.
 */
-->
<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label data-bind="attr: {'for': getCode()}" class="label">
            <!--<div class="afterpay-logo"></div>-->
            <img data-bind="attr: {src: getPaymentIcon()}"
                 class="payment-icon smaller-icon"/>
            <span text="getTitle()"></span>
            <div class="afterpay-description" data-bind="text: getDescription()"></div>
        </label>
    </div>
    <div class="payment-method-content">
        <h1 class="afterpay-test-mode" data-bind="text: getTestmodeLabel(), visible: isTestmode() == true"></h1>
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="payment-method-additional-data field-select-billing">
            <fieldset data-bind="visible: canShowBankaccount()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + 'bankaccountnumber'}" class="label">
                        <span><!-- ko i18n: 'Bank Account Number (IBAN)' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[bankaccountnumber]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_bankaccountnumber'},
                           value: bankaccountNumber"
                           placeholder="DE25478400********1086"
                    />
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowDob()" class="fieldset field-select-billing customer-dob">
                <div class="field required dob-required">
                    <label data-bind="attr: {'for': getCode()}" class="label">
                        <span><!-- ko i18n: 'Date of Birth' --><!-- /ko --></span>
                    </label>

                    <input type="text"
                           class="dob"
                           name="payment[dob]"
                           data-bind="attr: {'id': getCode()},
                           value: dobFull"
                           data-validate="{required:true, 'customer-dob-validator': true}"
                    />
                </div>
            </fieldset>
            <fieldset class="fieldset">
                <div class="field required">
                    <label data-bind="attr: {'for': getCode() + '_installment'}" class="label">
                        <span><!-- ko i18n: 'Fixed instalments:' --><!-- /ko --></span>
                    </label>

                    <!-- ko foreach: { data: installments(), as: 'installment'}  -->
                    <div class="installment-option" data-bind="css: {'_active': $parent.isSelected(installment) }">
                        <input
                                type="radio"
                                data-bind="attr: { value: installment.value, id: 'option_' + installment.value, checked: $parent.selectFirst(installment) }, click: $parent.selectionChange"
                                name="installment_radio_option">
                        <label data-bind="attr: {'for': 'option_' + installment.value}, html: installment.optionText"></label>
                    </div>
                    <!--/ko-->

                    <div class="installment-info">
                        <!-- ko template: getInstallmentInfoTemplate() --><!-- /ko -->
                    </div>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowNumber()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + '_tel_number'}" class="label">
                        <span><!-- ko i18n: 'Phone Number' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[customer_telephone]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_tel_number'},
                            value: telNumber"
                           data-validate="{required:true}"/>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowCoc()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + '_coc_number'}" class="label">
                        <span><!-- ko i18n: 'COC Number:' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[coc_number]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_coc_number'},
                            value: cocNumber"
                           data-validate="{required:true}"/>
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowSsn()" class="fieldset">
                <div class="field required required-input-entry">
                    <label data-bind="attr: {'for': getCode() + 'ssn'}" class="label">
                        <span><!-- ko i18n: 'Social Security Number' --><!-- /ko --></span>
                    </label>
                    <input type="text" name="payment[ssn]" class="required-entry"
                           data-bind="attr: {'id': getCode() + '_ssn', placeholder: $t('Placeholder SSN')}, value: ssn"
                           data-validate="{required:true}"
                    />
                </div>
            </fieldset>
            <fieldset data-bind="visible: canShowGender()" class="fieldset">
                <div class="field required">
                    <label data-bind="attr: {'for': getCode() + '_gender'}" class="label">
                        <span><!-- ko i18n: 'Select Gender' --><!-- /ko --></span>
                    </label>
                    <select name="payment[gender]"
                            class="required-entry admin__control-select"
                            data-bind="attr: {'id': getCode() + '_gender'},
                            options: getGenderValues(),
                            optionsValue: 'optionValue',
                            optionsText: 'optionText',
                            value: customerGender">
                    </select>
                </div>
            </fieldset>
            <div class="static-wrapper fieldset" data-bind="visible: hasStaticText()">
                <div class="static-text" data-bind="html: getStaticText()"></div>
            </div>
            <fieldset data-bind="visible: canShowConditions()"
                      class="fieldset field-select-billing terms-and-conditions">
                <div class="field">
                        <!-- ko if:  canShowPrivacy() -->
                        <!-- ko i18n: 'Hier findest du die' --><!-- /ko -->
                        <a data-bind="attr: {'href': 'https://documents.myafterpay.com/consumer-terms-conditions/de_DE/default/bgb507', 'target': '_blank'}">
                            <!-- ko i18n: 'Pflichtangaben nach § 507 BGB' --><!-- /ko -->
                        </a>
                            <!-- ko i18n: ', die' --><!-- /ko -->
                        <a data-bind="attr: {'href': installment().readMore, 'target': '_blank'}">
                            <!-- ko i18n: 'Standard European Consumer Credit Information' --><!-- /ko -->
                        </a>
                        <!-- ko i18n: 'und die' --><!-- /ko -->
                        <a data-bind="attr: {'href': getPrivacystatementLink(), 'target': '_blank'}">
                            <!-- ko i18n: 'Datenschutzerklärung von AfterPay' --><!-- /ko -->
                        </a>.<br/><br/>
                        <!-- ko i18n: 'Es gelten die' --><!-- /ko -->
                         <a data-bind="attr: {'href': getConditionsLink(), 'target': '_blank'}">
                            <!-- ko i18n: 'Allgemeinen Geschäftsbedingungen von AfterPay' --><!-- /ko -->
                         </a>.
                        <!-- /ko -->
                </div>
            </fieldset>
        </div>
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout"
                        type="submit"
                        data-bind="
                        click: placeOrder,
                        attr: {title: $t('Place Order')},
                        css: {disabled: !isPlaceOrderActionAllowedAfterpay()}
                        ">
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
