<?php
/**
 * Copyright (c) 2021  arvato Finance B.V.
 *
 * AfterPay reserves all rights in the Program as delivered. The Program
 * or any portion thereof may not be reproduced in any form whatsoever without
 * the written consent of AfterPay.
 *
 * Disclaimer:
 * THIS NOTICE MAY NOT BE REMOVED FROM THE PROGRAM BY ANY USER THEREOF.
 * THE PROGRAM IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS
 * OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
 * THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE PROGRAM OR THE USE OR OTHER DEALINGS
 * IN THE PROGRAM.
 *
 * @category    AfterPay
 * @package     Afterpay_Payment
 * @copyright   Copyright (c) 2021 arvato Finance B.V.
 */
?>
<?php /** @var \Afterpay\Payment\Block\Form $block */
$methodCode = $block->escapeHtml($block->getMethodCode()); ?>
<fieldset class="admin__fieldset payment-method" id="payment_form_<?= $block->escapeHtml($methodCode) ?>"
          style="display: none">
    <?php if ($block->canShowCompanyName()): ?>
        <div class="admin__field _required">
            <label for="<?= $block->escapeHtml($methodCode) ?>_company_name"
                   class="admin__field-label"><span><?= $block->escapeHtml(__('Company Name:')) ?></span></label>
            <div class="admin__field-control">
                <input type="text" id="<?= $block->escapeHtml($methodCode) ?>_company_name"
                       name="payment[company_name]" title="<?= $block->escapeHtml(__('Company Name:')) ?>"
                       class="required-entry admin__control-text"
                       value="<?= $block->escapeHtml($block->getInfoData('company_name')) ?>"/>
            </div>
        </div>
    <?php endif; ?>
    <?php if ($block->canShowNumber()): ?>
        <div class="admin__field _required">
            <label for="<?= $block->escapeHtml($methodCode) ?>_tel_number"
                   class="admin__field-label"><span><?= $block->escapeHtml(__('Phone Number:')) ?></span></label>
            <div class="admin__field-control">
                <input type="text" id="<?= $block->escapeHtml($methodCode) ?>_tel_number"
                       name="payment[customer_telephone]"
                       title="<?= $block->escapeHtml(__('Phone Number:')) ?>"
                       class="required-entry admin__control-text"
                       value="<?= $block->escapeHtml($block->getInfoData('customer_telephone')) ?>"/>
            </div>
        </div>
    <?php endif; ?>
    <?php if ($block->canShowCoc()): ?>
        <div class="admin__field _required">
            <label for="<?= $block->escapeHtml($methodCode) ?>_coc_number"
                   class="admin__field-label"><span><?= $block->escapeHtml(__('COC Number')) ?></span></label>
            <div class="admin__field-control">
                <input type="text" id="<?= $block->escapeHtml($methodCode) ?>_coc_number"
                       name="payment[coc_number]" title="<?= $block->escapeHtml(__("COC Number")) ?>"
                       class="required-entry admin__control-text"
                       value="<?= $block->escapeHtml($block->getInfoData('coc_number')) ?>"/>
            </div>
        </div>
    <?php endif; ?>
    <?php if ($block->canShowBankAccount()): ?>
        <div class="admin__field _required">
            <label for="<?= $block->escapeHtml($methodCode) ?>_bankaccountnumber"
                   class="admin__field-label">
                <span><?= $block->escapeHtml(__('Bank Account Number (IBAN)')) ?></span>
            </label>
            <div class="admin__field-control">
                <input type="text" id="<?= $block->escapeHtml($methodCode) ?>_bankaccountnumber"
                       name="payment[bankaccountnumber]"
                       title="<?= $block->escapeHtml(__('Bank Account Number (IBAN)')) ?>"
                       class="required-entry admin__control-text"
                       value="<?= $block->escapeHtml($block->getInfoData('bankaccountnumber')) ?>"/>
            </div>
        </div>
    <?php endif; ?>
    <?php if ($block->canShowGender()): ?>
        <div class="admin__field _required"
             data-mage-init='{"genderHandler": {
                 "methodCode": "<?= $block->escapeHtml($methodCode) ?>",
                 "preSelect": "<?= $block->escapeHtml($block->getInfoData('customer_gender')) ?>"
             }}'>
            <label class="label admin__field-label" for="<?= $block->escapeHtml($methodCode) ?>_gender">
                <span><?= $block->escapeHtml(__('Gender')); ?></span>
            </label>
            <div class="admin__field-control control">
                <select id="<?= $block->escapeHtml($methodCode) ?>_gender" name="payment[customer_gender]"
                        class="required-entry select admin__control-select">
                    <option value="1"><?= $block->escapeHtml(__('Male.')); ?></option>
                    <option value="2"><?= $block->escapeHtml(__('Female.')); ?></option>
                </select>
            </div>
        </div>
    <?php endif; ?>
    <?php if ($block->canShowDob()): ?>
        <div class="admin__field _required"
             data-mage-init='{"dobHandler": {"methodCode": "<?= $block->escapeHtml($methodCode) ?>"}}'>
            <label class="label admin__field-label" for="<?= $block->escapeHtml($methodCode) ?>_dob">
                <span><?= $block->escapeHtml(__('Date of Birth')); ?></span>
            </label>
            <div id="<?= $block->escapeHtml($methodCode) ?>_dob" class="admin__field-control control">
                <select id="<?= $block->escapeHtml($methodCode) ?>_dob_days"
                        class="select admin__control-select"></select>
                <select id="<?= $block->escapeHtml($methodCode) ?>_dob_months"
                        class="select admin__control-select"></select>
                <select id="<?= $block->escapeHtml($methodCode) ?>_dob_years"
                        class="select admin__control-select"></select>
                <input id="<?= $block->escapeHtml($methodCode) ?>_dob_hidden"
                       type="hidden" name="payment[customer_dob]"
                       value="<?= $block->escapeHtml($block->getInfoData('customer_dob')) ?>"/>
            </div>
        </div>
    <?php endif; ?>
</fieldset>
